<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tic-tac-toe</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
	<h1><%= name_date %></h1>
        <table id="table">
            <tr>
                <td class="cell" id="0"> </td>
                <td class="cell" id="1"> </td>
                <td class="cell" id="2"> </td>
            </tr>
            <tr>
                <td class="cell" id="3"> </td>
                <td class="cell" id="4"> </td>
                <td class="cell" id="5"> </td>
            </tr>
            <tr>
                <td class="cell" id="6"> </td>
                <td class="cell" id="7"> </td>
                <td class="cell" id="8"> </td>
            </tr>
        </table>
        <script src="/js/script.js"></script>
    </body>
</html>

