body {
    background-color: #829496;
    font-family: "Avenir";
    padding: 100px;
}
td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive sans-serif;
    font-size: 70px;
    cursor: pointer;
}
table {
    border-collapse: collapse;
}

